*{
    padding: 0;
    margin: 0;
}
.landing-page{
    background-image: url(/World.io/images/Background.png);
    background-repeat: no-repeat;
    height: 810px;
}
.searchbar{
    background: rgba(255, 255, 255, 0.15);
    border: transparent;
    border-radius: 4px;
    width: 450px;
}
.download-btn{
    background: linear-gradient(95.85deg, #9BE7FF 0%, #36C3FF 100%);
    border-radius: 4px;
    width: max-content;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
/* ---------------------------------------- */
.heading{
    font-size: 46px;
    color: #FFFF;
    font-weight: 400;
}
.sub-heading{
    color: #FFFF;
    font-size: 20px;
    font-weight: 300;
}
.your-portal , .worlds , .frequently-asked-questions , .sponsors{
    background: #000000;
    margin-top: -1px;
}
.web-3 , .possibility{
    background: linear-gradient(94.99deg, #36C3FF 0%, #00DA8B 99.87%);
    -webkit-background-clip:text;
    color: transparent;
}
.frequently-asked-questions-color{
    background: linear-gradient(90.37deg, #36C3FF -0.06%, #00DA8B 99.99%);
    -webkit-background-clip:text;
    color: transparent;
}
.card{
    background-color: transparent;
    color: #FFFF;
}
hr{
    border: 1px solid #505050;
}

@media only screen and (max-width: 1120px){
    .searchbar{
        width: 100%;
    }
}
